[Unit]
Description=Challenge Demo daemon
After=network.target

[Service]
EnvironmentFile=/etc/default/demo
ExecStart=/bin/java -jar /usr/local/lib/demo/demo.war 
