[Unit]
Description=Challenge Simple Demo Health Check daemon
After=demo.service

[Service]
EnvironmentFile=/etc/default/demo
ExecStart=/usr/local/lib/demo/healthcheck.sh 
Restart=always
